.navbar{
  position: absolute;
  width: 100%;
    z-index: 99;
    opacity: 0.9;
    top:0;
    background-color: rgb(32,108,90);
    color: white;
    .lists{
        list-style: none;
        display: flex;
        justify-content:end;
        padding-top: 7px;
      .list{
          padding-right: 10px;
      }
      .link{
        color: white;
        text-decoration: none;
    }
    }
    
}
